* {
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 13, 238);
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.container {
    overflow: hidden;
    background-color:#fff;
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);;
}

.header {
    background-color: #f7efef;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}
.form {
    padding: 20px 30px;
}
.form-control {
    margin-bottom:10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label {
    display: block;
    margin-bottom: 5px;
}
.form-control input {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(240, 235, 235);
    margin-bottom: 5px;
    font-size: 16px;
    font-family: inherit;
}
.form-control.success input {
    border: 2px solid rgba(79, 243, 57, 0.972);
}
.form-control.error input {
    border: 2px solid rgb(233, 33, 33);
}
.form-control input:focus {
    border-color:  red;
}
.form-control i {
    position: absolute;
    top: 40px;
    right:10px;
    visibility:hidden;
}
.form-control.success i.fa-check-circle {
    visibility: visible;
    color: rgba(47, 228, 23, 0.972);
}
.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color:  rgb(233, 33, 33);
}
.form-control small {
    color:  rgb(233, 33, 33);
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
}
.form button {
    background-color:purple;
    border: 2px solid rgb(70, 7, 70);
    width: 100%;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
}
.form button:hover {
    background-color: rgb(231, 16, 231);
}